*{
    padding: 0;
    margin: 0;
}

.pio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    margin-left: 653px;
    position: absolute;
    border-radius: 16px;
    border-style: solid;
    margin-top:-910px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 20px 40px 0 rgba(00,0,0.19);
    
}

table, th, td{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 8px;
    align-items: center;
    margin: auto;
    margin-top: 300px;
    width: 60vh;
    font-size: x-large;
    background-color: rgb(0, 4, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 10px 40px 0 rgba(00,0,0.19);
       
}
td{
    border-width: 2px;
    background-color: rgb(255, 255, 255);
   text-align: center;
}
th{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}
body{
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgb(0, 247, 255) 0%, rgb(255, 255, 255) 66%, rgb(4, 0, 255) 100%);
height: 700px;
}
